.appContainer {
  text-align: center;
}

.newDiv {
  background-color: rgb(255, 255, 255);
  color: black;
  width: 15em;
  margin: 0 auto;
  border: none;
  border-radius: 15px;
}


.nav {
  height: 5em;
  display: flex;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
}

.textNav {
  text-decoration: none;
  color: black;
}

.newOption {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.newDivAptm {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  width: 25em;
  text-align: center;
  margin: 0 auto;
  border: none;
  border-radius: 15px;
  gap: 1.5em;
}

.textNav:active {
  background-color: blanchedalmond;
  height: 3em;
  width: 6.5em;
}

