.appContainer {
  text-align: center;
}

.newDiv {
  background-color: rgb(255, 255, 255);
  color: black;
  width: 15em;
  margin: 0 auto;
  border: none;
  border-radius: 15px;
}


.nav {
  height: 5em;
  display: flex;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
}

.textNav {
  text-decoration: none;
  color: black;
}

.newOption {
  display: flex;
  flex-direction: column;
}

.newDivAptm {
  background-color: rgb(255, 255, 255);
  color: black;
  width: 15em;
  margin: 0 auto;
  border: none;
  border-radius: 15px;
  gap: 1.5em;
}